{% extends 'admin/layout.html.twig' %}

{% block main %}
    <h1>Edit post</h1>

    {{ include('admin/blog/_form.html.twig', {
        form: edit_form,
        button_label: 'Save',
        include_back_to_home_link: true,
    }, with_context = false) }}
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        {{ include('admin/blog/_form.html.twig', {
            form: delete_form,
            button_label: 'Delete',
            button_css: 'btn btn-primary btn-danger',
        }, with_context = false) }}
    </div>
{% endblock %}
