{% extends 'admin/layout.html.twig' %}

{% block main %}
    <h1>Редагувати пост</h1>
    {% if post.imageName %}
        <img class="img-responsive" src={{ asset("#{post.imageName}") | imagine_filter('my_blog') }} alt="foto">
    {% endif %}

    {{ include('admin/blog/_form.html.twig', {
        form: edit_form,
        button_label: 'Зберегти',
        include_back_to_home_link: true,
    }, with_context = false) }}


{% endblock %}

{% block sidebar %}
    <div class="section actions">
        {{ include('admin/blog/_form.html.twig', {
            form: delete_form,
            button_label: 'Видалити',
            button_css: 'btn btn-primary btn-danger',
        }, with_context = false) }}
    </div>
{% endblock %}
